<div class="card-actions btn-actions">
    <div class="dropdown">
        <a href="#" class="btn-action dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <!-- Download SVG icon from http://tabler.io/icons/icon/dots-vertical -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-1">
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
            </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-identifiers">Admin API</a>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-mobiles">Mobile Wallet</a>
            <a class="dropdown-item text-danger" href="{{ url_for('restart') }}">Reset</a>
        </div>
    </div>
</div>