{% include('components/scripts/exchanges.jinja') %}
<div class="row">

    <div class="col-12">
        <h3 class="card-title">
            <!-- <div class="text-reset">Credential</div> -->
            <div class="text-secondary">
                <ul class="list-inline list-inline-dots">
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('schema_url')}}">Schema</a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('cred_def_url')}}">Definition</a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="{{session['demo'].get('rev_def_url')}}">Registry</a></li>
                    <li class="list-inline-item"><a href="#" data-bs-toggle="modal"
                            data-bs-target="#modal-preview">Preview</a></li>
                </ul>
            </div>
        </h3>
    </div>

    <div class="col-12">
        <div id="registry-state" class="tracking mb-3">
            {% for entry in range(session['demo'].get('status_size')) %}
            <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="ok"></div>
            {% endfor %}
        </div>
    </div>

    <div id="issuance-section" class="col-12 mb-3">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="font-weight-medium">Issuance</div>
                    <div id="issuance-state" class="text-secondary">No Exchange</div>
                </div>
                <div class="col-auto">
                    <a id="btn-revocation" href="javascript:void(0)" onclick="revokeCredential()" hidden>
                        <span class="text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M18.364 5.636l-12.728 12.728" />
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="col-auto">
                    <a id="btn-issuance" href="javascript:void(0)" onclick="createOffer()" hidden>
                        <span class="text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-mail-plus">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5" />
                                <path d="M16 19h6" />
                                <path d="M19 16v6" />
                                <path d="M3 7l9 6l9 -6" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="presentation-section" class="col-12 mb-3">

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="font-weight-medium">Presentation</div>
                    <div id="presentation-state" class="text-secondary">No Exchange</div>
                </div>
                <div class="col-auto">
                    <a id="btn-presentation" href="javascript:void(0)" onclick="requestPresentation()" hidden>
                        <span class="text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-mail-plus">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5" />
                                <path d="M16 19h6" />
                                <path d="M19 16v6" />
                                <path d="M3 7l9 6l9 -6" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>