<script>
    function createOffer() {
        $.get("{{ url_for('exchanges.credential_offer') }}")
        $('#issuance-state').html(`
        <div class="progress progress-sm mt-3">
                <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
        `);
    }
    function revokeCredential() {
        $.get("{{ url_for('exchanges.credential_update') }}")
        $('#presentation-state').html(`Exchange Deleted`);
    }
    function requestPresentation() {
        $.get("{{ url_for('exchanges.presentation_request') }}")
        $('#presentation-state').html(`
        <div class="progress progress-sm mt-3">
                <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
        `);
    }
    function sendMessage() {
        $.get("{{ url_for('exchanges.send_message') }}")
    }
</script>