<div class="modal fade" id="modal-mobiles" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-title">Recommended Wallets</div>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <span class="avatar avatar-xl"
                            style="background-image: url('https://play-lh.googleusercontent.com/eEYm6AaDGNFcE1riIW7W-R8RJvDgVVakjr2gnxdeUOngsb9EZWZ9p2zPDBHybiS0lUJu=w240-h480-rw')"></span>
                    </div>
                    <div class="col">
                        <div class="card-title"><a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-wallet">BC Wallet</a></div>

                        <div class="card-subtitle">
                            <div class="text-secondary">
                                <ul class="list-inline list-inline-dots mb-0">
                                    <li class="list-inline-item">
                                        <span class="text-dark">Digital Identity wallet developed by the Province of British Columbia.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <span class="avatar avatar-xl"
                            style="background-image: url('https://pydentity.net/static/img/pydentity-icon.png')"></span>
                    </div>
                    <div class="col">
                        <div class="card-title"><a href="https://pydentity.net">PyDentity Wallet</a></div>

                        <div class="card-subtitle">
                            <div class="text-secondary">
                                <ul class="list-inline list-inline-dots mb-0">
                                    <li class="list-inline-item">
                                        <span class="text-dark">OWF ACApy sub-wallet interface for mobile.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>