<div class="modal fade" id="modal-content" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <pre style="overflow: scroll; width: 100%; height: 250px;"><code>{{ resource['content']|tojson(2) }}</code></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-metadata" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% for key in resource.get('metadata') %}
                <div class="mb-2">
                    <strong>{{ key }}:</strong> <br>
                    {{ resource.get('metadata').get(key) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-links" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {% if resource.get('links') %}
                {% for link in resource.get('links') %}
                <a class="card-link" href="{{ session['endpoint']+'/resource?id='+link.get('id') }}">
                    <div class="card-body mb-3">
                        <div class="row">
                            {# <div class="col-auto">
                                <span class="avatar avatar-2 rounded">{{ link['type'][:2] }}</span>
                            </div> #}
                            <div class="col">
                                <div class="font-weight-medium">{{ link['type'] }}</div>
                                <div class="text-secondary">{{ link.get('name') or link.get('timestamp') }}</div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-proof" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title ">
                    <div class="text-reset">{{ resource.get('proof').get('type') }}</div>
                </h3>
                <div class="text-secondary">
                    <ul class="list-inline list-inline-dots">
                        <li class="list-inline-item"><span class="text-green">Verified</span></li>
                        <li class="list-inline-item">{{ resource.get('proof').get('cryptosuite') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>