<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ session['title'] }}</title>
    <link rel="icon" href="https://raw.githubusercontent.com/decentralized-identity/didwebvh-info/main/docs/assets/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container">
            {% block page %}{% endblock %}
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js" defer=""></script>

</body>

</html>