<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ session['title'] }}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <link href="{{url_for('static', filename='css/tabler.min.css')}}" rel="stylesheet">
</head>

<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight">
            <div class="text-center mb-4">
                <a href="{{ url_for('index') }}" class="navbar-brand navbar-brand-autodark">
                    <center><img
                            src="https://raw.githubusercontent.com/hyperledger/anoncreds-spec/main/spec/images/logo/hl_anoncreds_colour.svg"
                            width="100%" alt=""></center>
                </a>
            </div>
            <!-- Page body -->
            {% block page %}{% endblock %}
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/tabler.min.js') }}" defer=""></script>

</body>

</html>